/* color palette */
:root{
   
    /* site */
    --dash-primary:#1b72e8;
    --dash-dark:#051e34;
    --dash-darker:#212529;
    --dash-light:#f7f7f7;
    --dash-lighter:#ffffff;
    
    /* tags */
    --dash-accent:#f26551;
    --dash-accent2:#198754;
    --dash-accent3:#ffc107;
    --dash-accent4:#dc3545;

}

/* debug */

.debug .site_header{
    height: 100px;
}

.debug nav{
    width: 100%;
   
}

.debug .main_header{
    height: 150px;
    width: calc(100%);
}


/* utilities */
.bg_primary{
    background-color: var(--dash-primary);
}

.bg_light{
    background-color: var(--dash-light);
}

.color_dark{
    color: var(--dash-dark);
}

.bg_lighter{
    background-color: var(--dash-lighter);
}

.bg_dark{
    background-color: var(--dash-dark);
}

.container_big{
    height: 100vh;
}

.site_header{
    height: 80px;
}

nav{
    width: 100%;
    height: 60%;
}

body{
    overflow: hidden;
}

aside{
    width: 50px;
    height: calc(100% - 100px);
    background-image: url(../img/sidebar-bg.png);
}

.searchbar{
    height: 100%;
    
}

.hide{
    display: none;
}

.bell{
    color: var(--dash-accent3);
}

.site_main{
    height: calc(100% - 100px);
    width: calc(100% - 50px);
}

@media screen and (min-width:992px){

    aside{
        width: 200px;
    }
    
    .site_main{
        width: calc(100% - 200px);
    }

    .hide{
        display: block;
    }
}

.main_contents{
    height: calc(100% - 150px);
}