/* color palette */
:root{
   
    /* site */
    --dash-primary:#1b72e8;
    --dash-dark:#051e34;
    --dash-darker:#212529;
    --dash-light:#f7f7f7;
    --dash-lighter:#ffffff;
    
    /* tags */
    --dash-accent:#f26551;
    --dash-accent2:#198754;
    --dash-accent3:#ffc107;
    --dash-accent4:#dc3545;

}

/* #region utilities */
.bg_primary{
    background-color: var(--dash-primary);
}

.bg_light{
    background-color: var(--dash-light);
}

.color_dark{
    color: var(--dash-dark);
}

.bg_lighter{
    background-color: var(--dash-lighter);
}

.bg_accent3{
    background-color: var(--dash-accent3);
}

.bg_dark{
    background-color: var(--dash-dark);
}

.bg_dark_trasparent{
    background-color: rgba(0, 0, 0, 0.266)
    
}

.container_big{
    height: 100vh;
}

.hide{
    display: none;
}

.table_hide{
    display: none;
}

/* #endregion utilities */

body{
    overflow: hidden;
}

/* #region header */
.site_header{
    height: 80px;
}

.desktop_logo{
    display: none;
}

nav{
    width: 100%;
    height: 60%;
}

.bell{
    color: var(--dash-accent3);
}

.searchbar{
    height: 100%;
    
}
/* #endregion header */

/* #region aside */
aside{
    width: 70px;
    height: calc(100% - 80px);
    background-image: url(../img/sidebar-bg.png);
}

.sidebar_buttons:hover{
    background-color: rgba(211, 211, 211, 0.505)
}
/* #endregion aside */

.site_main{
    height: calc(100% - 80px);
    width: calc(100% - 70px);
}

/* #region wrapper */
.wrapper{
    height: 300px;
}

.offcanvas_container{
    width: 100vw !important; 
}
/* #endregion wrapper */


.main_contents{
    height: calc(100% - 300px);
}



/* #region mediaqueries */
@media screen and (min-width:992px){

    aside{
        width: 150px;
    }
    
    .site_main{
        width: calc(100% - 150px);
    }

    .hide{
        display: inline-block;
    }

   

    .mobile_logo{
        display: none;
    }

    .desktop_logo{
        display: block;
    }

    .plus{
        display: none;
    }

    .offcanvas_container{
        width: 50vw !important ; 
    }
    
    
}


@media screen and (min-width:768px){
    .wrapper{
        height: 150px;
}
.main_contents{
    height: calc(100% - 150px);
}

.table_hide{
    display: table-cell;
}
}
/* #endregion mediaqueries */
